name: Update Changelog and Create Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'CHANGELOG.md'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Get next version
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tag.outputs.new_tag }}

      - name: Commit CHANGELOG.md to branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: CHANGELOG.md
          branch: chore/update-changelog/${{ steps.tag.outputs.new_tag }}
          create_branch: true                    
          commit_message: 'docs: update CHANGELOG.md for ${{ steps.tag.outputs.new_tag }} [skip ci]'

      - name: Create Release
        uses: ncipollo/release-action@v1.12.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          name: ${{ steps.tag.outputs.new_tag }}
          tag: ${{ steps.tag.outputs.new_tag }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ secrets.GITHUB_TOKEN }}
